    .experience-div, .education-div, .certificates-div {
        margin-top: 3rem;
    }

    h3 {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 0.2rem dashed var(--main-white);
    }

    h4 {
        font-size: 2.4rem;
        color: var(--main-white);
    }

    .certificates-div h4 {
        font-size: 2rem;
        margin-top: 1rem;
    }

    .experience-info, .education-info {
        margin-top: 1rem;
    }

    p, .certificates-div span {
        font-size: 1.6rem;
    }

    ul {
        height: auto;
        width: auto;
        overflow: hidden;
        max-height: 0;
        transition: 700ms ease-out;
    }

    li {
        list-style: none;
        font-size: 2rem;
        color: var(--main-white);
        width: fit-content;
    }

    .language-div-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .language-certificates {
        border: 0.1rem solid var(--main-white);
        border-radius: 10px;
        padding: 1rem;
        width: fit-content;
    }

    .language-certificates h4 {
        margin-top: 0;
    }