<div class="cv-content">
    <h2>Curriculum Vitae</h2>
    <div class="experience-div">
        <h3>Experience</h3>
        <div class="experience-info">
            <h4>Monitor of the Cell Biology Laboratory</h4>
            <p>Federal University of Ceará (Brazil) - 2015</p>
        </div>
        <div class="experience-info">
            <h4>Supervised Internship held at the Experimental Laboratory of Behavioral Ecology and Evolution</h4>
            <p>Federal University of Ceará (Brazil) - 2017</p>
        </div>
        <div class="experience-info">
            <h4>Language Teacher Assistant (English)</h4>
            <p>Heart Corporation (Japan) - 2021~2022</p>
        </div>
    </div>
    
    <div class="education-div">
        <h3>Education</h3>
        <div class="education-info">
            <h4>Bachelor of Biological Sciences</h4>
            <p>Federal University of Ceará (Brazil) - 2014~2019</p>
        </div>
        <div class="education-info">
            <h4>Japanese Course</h4>
            <p>ISI Japanese Language School (Japan) - 2020~2021</p>
        </div>
        <div class="education-info">
            <h4>Dutch Course</h4>
            <p>PCVO Modern Talen Hasselt (Belgium) - 2022~2023</p>
        </div>
        <div class="education-info">
            <h4>Front-End Engineer Career Path</h4>
            <p>Codecademy (online) - 2021~2023</p>
        </div>
    </div>

    <div class="certificates-div">
        <h3>Certificates</h3>
        <div class="education-certificates">
            <h4>Education</h4>
        </div>
        <div class="language-certificates">
            <div class="language-div-header">
                <h4>Languages</h4>
                <button (click)="handleShow($event, languagesUl)"><fa-icon [icon]="['fas', 'angles-down']"></fa-icon> See more</button>
            </div>
            <ul #languagesUl>
                <li>Dutch Course Level B1 at PCVO Modern Talen Hasselt <span>(Belgium - 2023)</span></li>
                <li>N2 Japanese Course at ISI Language School <span>(Japan - 2021)</span></li>
                <li>Perfect Attendence for 1 year at ISI Language School <span>(Japan - 2021)</span></li>
                <li>Intermediate Japanese Course at Poliglota Institute <span>(Brazil - 2019)</span></li>
                <li>Basic German Course at Poliglota Institute <span>(Brazil - 2018)</span></li>
                <li>onSET-Zertifikat - German CEFR Level B1 <span>(Brazil - 2017)</span></li>
                <li>Intermediate English Course at Poliglota Institute <span>(Brazil - 2015)</span></li>
            </ul>
        </div>
    </div>
</div>