h1 {
    width: fit-content;
    padding-bottom: 1rem;
    border-bottom: 0.3rem dashed var(--main-purple);
    text-align: center;
}

li {
    list-style: none;
}

.hero-content {
    height: fit-content;
    margin-top: 15rem;
}

.hero {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.hero-main {
    width: 100%;
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.my-info {
    max-width: 46rem;
    width: 40vw;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.my-links-icons {
    display: flex;
    align-items: center;
}

.link-icon {
    font-size: 5rem;
    margin-right: 1rem;
}

.tech-stack, .languages {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 3rem 0;
}

.tech-stack > p, .languages > p {
    padding-right: 2.5rem;
    border-right: 0.2rem dashed var(--main-white);
}

.tech-logos, .language-flags {
    padding-left: 2.5rem;
    display: flex;
}

.tech-logos li {
    background-color: var(--main-white);
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-icon {
    width: 4rem;
    height: 4rem;
}

.language-icon {
    width: 5rem;
}

figure {
    position: relative;
    z-index: 0;
}

figcaption {
    color: var(--main-white);
    font-size: 2rem;
    font-family: Lato, sans-serif;
    text-align: center;
    position: absolute;
    opacity: 0;
    transition: opacity 500ms;
}

.tech-figcaption {
    top: 0;
    left: 50%;
    transform: translate(-50%, -150%);
}

.language-figcaption {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
}

figure:hover figcaption {
    opacity: 1;
}

.my-img-figure {
    border-radius: 50%;
    border: 0.3rem solid var(--main-purple);
    box-shadow: 0.1rem 0.1rem 0.5rem var(--main-purple);
}

.my-img {
    max-width: 40rem;
    width: 40vw;
    height: auto;
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {
    h1 {
        margin: auto;
    }

    .hero-main {
        flex-direction: column-reverse;
    }

    .my-info {
        width: 90vw;
        text-align: center;
    }

    .my-links-icons {
        justify-content: center;
    }

    .tech-stack, .languages {
        justify-content: space-between;
        align-content: center;
    }

    .tech-stack > p, .languages > p {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .my-img {
        width: auto;
    }
}

@media only screen and (max-width: 510px) {
    .hero-content {
        margin-top: 10rem;
    }

    .my-img {
        width: 30rem;
    }

    .tech-stack, .languages {
        flex-direction: column;
    }

    .tech-stack > p, .languages > p {
        padding-right: 0;
        border-right: none;
        padding-bottom: 1.5rem;
        border-bottom: 0.2rem dashed var(--main-white);
    }

    .tech-logos, .language-flags {
        padding: 1rem 1rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .tech-figcaption {
        top: auto;
        bottom: 0;
        transform: translate(-50%, 125%);
    }
}

@media only screen and (max-width: 420px) {
    .tech-logos, .language-flags {
        max-width: 30rem;
    }
}