<div class="projects-content">
    <h2>Projects</h2>
    <div class="project" *ngFor="let project of projectsList">
        <div class="project-info">
            <h3>{{project.name}}</h3>
            <p class="description">{{project.description}}</p>
            <div class="project-techs">
                <p *ngFor="let tech of project.tech">{{tech}}</p>
            </div>
            <div class="project-links">
                <a [href]="project.gitLink" target="_blank">Code <fa-icon class="link-icon" [icon]="['fab', 'github']"></fa-icon></a>
                <a [href]="project.demoLink" target="_blank">Demo <fa-icon class="link-icon" [icon]="['fas', 'arrow-up-right-from-square']"></fa-icon></a>
            </div>
        </div>
        <figure>
            <img [src]="project.img" [alt]="project.name" />
        </figure>
    </div>
</div>