p {
    padding: 1rem 0;
}

.contact-content {
    padding: 0 5rem;
    min-height: 20rem;
}

.contact-content > a {
    font-size: 5rem;
    transition: 500ms;
}

.contact-content > a:hover {
    font-size: 7rem;
}

@media only screen and (max-width: 510px) {
    .contact-content {
        width: 100%;
        min-height: 18rem;
        padding: 0;
    }
}